.spinner-div {
    margin-top: 30px;
}

.spinner-div .centered-spinner {
    display: block;
    margin: 0 auto;
    float: initial;
}

.artist-block {
    margin-top: 15px;
}

.artist-image {
    display: inline-block;
    border-radius: 50%;
    margin-left: 20px;
}

.artist-name {
    display: inline-block;
    margin-left: 20px;
}

.tab-content {
    margin-top: 25px;
}

.tab-content .album-card {
    height: 400px;
    margin-top: 10px;
}

.tab-content .artist-card {
    height: 350px;
    margin-top: 10px;
}

.bio-text {
    margin-top: 25px;
    padding: 0 1em;
    size: 10em;
    margin-bottom: 25px;
}

.content-div {
    margin-top: 25px;
}

.more-button {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 47%;
}