<h2>Top artists</h2>
<div class="artists-div" *ngIf="artists">
  <app-artist class="card" *ngFor="let artist of artists" [artist]="artist"></app-artist>
  <button (click)="onMoreArtists()" class="more-button" mat-raised-button color="primary">More</button>
</div>

<mat-progress-spinner mode="indeterminate" class="centered-spinner" *ngIf="!artists || !tracks"></mat-progress-spinner>

<div *ngIf="artists && tracks">
  <h2>Top tracks</h2>
  <mat-list item-height="100px">
    <div *ngFor="let track of tracks">
      <mat-list-item>
        <img mat-list-icon class="trackImage" src="{{ track.pictureURL }}">
        <h4 mat-line>{{ track.name }}</h4>
        <button (click)="onNavigate(track.trackURL)" class="lastfm-button" mat-button color="warn">last.fm</button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
  <button class="more-button" mat-raised-button color="primary">More</button>
</div>
