<h2>Top artists</h2>
<div class="col-md-12" class="artists-div" *ngIf="artists">
  <app-artist class="col-md-2" *ngFor="let artist of artists" [artist]="artist"></app-artist>
  <div class="more-div col-md-12">
      <button class="more-button" routerLink="chart/artists/1" routerLinkActive="active-link" mat-raised-button color="primary">More</button>
  </div>
</div>

<mat-progress-spinner mode="indeterminate" class="centered-spinner" *ngIf="!artists || !tracks"></mat-progress-spinner>

<div class="col-md-12" *ngIf="artists && tracks">
  <h2>Top tracks</h2>
  <mat-list item-height="100px">
    <app-track *ngFor="let track of tracks" [track]="track"></app-track>
  </mat-list>
  <div class="more-div col-md-12">
    <button class="more-button" routerLink="chart/tracks/1" routerLinkActive="active-link" mat-raised-button color="primary">More</button>
  </div>
</div>
